<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="nguyenpanda">
	<meta name="description" content="index page" />
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="icon.png" type="image/x-icon"/>
  <title>title</title>
</head>

<body>
	<header>
		<h1>nguyenpanda template_1</h1>
	</header>

	<div class="container">
		<section>
			section
		</section>

		<aside>
			aside
		</aside>
	</div>

	<footer>
		footer
	</footer>
</body>

</html>
